/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  * {
    box-sizing: border-box;
  }

  body {
    background: #f1f1f1;
  }

  main,
  nav {
    flex-direction: column;
  }

  h3 {
    padding-top: 0.7em;
  }
  /* Style the search field */
  form.example input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
  }

  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196f3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

  form.example button:hover {
    background: #0b7dda;
  }

  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  ...;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  ...;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  ...;
}
